<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.sms.mapper.StucourseInfosMapper">
  <resultMap id="BaseResultMap" type="com.huawei.sms.pojo.StuCourseInfos">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stuId" jdbcType="INTEGER" property="stuId" />
    <result column="teaId" jdbcType="INTEGER" property="teaId" />
    <result column="courId" jdbcType="INTEGER" property="courId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stuId, teaId, courId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stucourseinfos
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stucourseinfos
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.huawei.sms.pojo.StuCourseInfos" useGeneratedKeys="true">
    insert into stucourseinfos (stuId, teaId, courId
      )
    values (#{stuId,jdbcType=INTEGER}, #{teaId,jdbcType=INTEGER}, #{courId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.huawei.sms.pojo.StuCourseInfos" useGeneratedKeys="true">
    insert into stucourseinfos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        stuId,
      </if>
      <if test="teaId != null">
        teaId,
      </if>
      <if test="courId != null">
        courId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="teaId != null">
        #{teaId,jdbcType=INTEGER},
      </if>
      <if test="courId != null">
        #{courId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huawei.sms.pojo.StuCourseInfos">
    update stucourseinfos
    <set>
      <if test="stuId != null">
        stuId = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="teaId != null">
        teaId = #{teaId,jdbcType=INTEGER},
      </if>
      <if test="courId != null">
        courId = #{courId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huawei.sms.pojo.StuCourseInfos">
    update stucourseinfos
    set stuId = #{stuId,jdbcType=INTEGER},
      teaId = #{teaId,jdbcType=INTEGER},
      courId = #{courId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>